

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&display=swap');

:root {
    --brand-color-1: #ff6600; 
    --brand-color-2: #000000;
    --brand-color-3: #FFB380;
    --brand-color-4: #808080; 
    --brand-color-6: #6D2C00;
    --dashbackground: #e9f0f5; 
    --dashsubbackground:white; 
    --dashboardgrey: #dcdcdc; 
    --green: #66FF00; 
    --amber: #FFBD00; 
    --red: #FF4A00; 
    --border-radius: 25px; 
    --margin: 10px;
    --padding: 10px; 

  }



*{
    font-family: 'Lato'!important;
}

.CalendarMonth{
    z-index: 100000000;
}

.leaflet-bottom{
    z-index: 1;

}

.grid-container{
    display: grid;
    grid-template-columns: 38vw 60vw;
    grid-template-rows: 15vh 40vh 50vh 5vh !important ;
    
    grid-template-areas: "options-area options-area"
                        "actionable-insights-area overview-visual-area"
                        "model-rational-area overview-visual-area"
                        "footer footer"
    
    ;
    color: black;
    border: 0px solid red;
    background-color: var(--dashbackground) !important ;
    width: 98vw;
}

    .options{
        display: grid;
        grid-area: options-area;
        
        }                                                                   

            .nav-container{
                display: grid;
                grid-template-columns: 2fr 3fr 1fr;
                grid-template-rows: 1fr;
                height: 5vh; 
                

            }

                .nav-slider{
                    display: grid;
                    padding:  var(--padding); 
                    margin: 20px; 
                }

                .nav-logo{
                    display: grid;
                    padding:  var(--padding); 
                    margin: 20px; 
                
                }

                .nav-logo Img{
                    display: grid;
                    width: 32.6vw; /** 2527 **/
                    height: 8vh; /** 384 **/
                    
                
                }

                .nav-logo2{
                    display: grid;
                    justify-items: right;
                    padding-right:  10px; 
                    margin: 20px; 
                
                }

                .nav-logo2 Img{
                    display: grid;
                    width: 8vh; /** 2000 **/
                    height: 8vh; /** 400 **/
                    
                
                }



                .nav-title{
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    font-size: large;
                }

                .nav-options{
                    display: grid;
                }

                    .options-grid{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr;
                        color: black; 
                        border: 0px solid red;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                    
                }
                       /**  .drop-down-1{
                            display: grid;
                            align-items: center;
                            align-content: center;
                            justify-content: center;
                            border: 10px solid #66FF00;
                            

                        }
                        
                        .drop-down-2{
                            display: grid;
                            align-items: center;
                            align-content: center;
                            justify-content: center;
                            border: 10px solid #66FF00;

                        }  **/
                       
                          
                    


                    

    .actionable-insights{
        display: grid;
        grid-area: actionable-insights-area; 
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 1fr 1fr;
        border: 1px solid var(--dashboardgrey);
        background-color: var(--dashsubbackground) !important ;
        margin: var(--margin);
        border-radius: var(--border-radius);
        padding:  var(--padding);
        height: 38vh;
        overflow-y: scroll;
    }

        .actionable-insights-table{
            padding:  var(--padding);
            width : 80%; 
            
        }

    .overview-visual{
        display: grid;
        grid-area: overview-visual-area; 
        border: 1px solid var(--dashboardgrey);
        padding:  var(--padding);
        background-color: var(--dashsubbackground) !important ;
        margin: var(--margin);
        border-radius: var(--border-radius);
        overflow: scroll;

    }

        .overview-visual-contents{
            display: grid;
            grid-template-columns: 33vw 33vw;
        }

            .tweet-text{
                display: grid;
                grid-column: 1/-1;
            }

    .model-rational{
        display: grid; 
        grid-area: model-rational-area; 
        border: 0px solid red;
        background-color: var(--dashsubbackground) !important ;
        
        border-radius: var(--border-radius);
        padding:  var(--padding);
        margin: var(--margin);
        
    }

    .folium-output{
        display: grid;
        justify-content: center;
        align-content: center;
     
    }

    .folium-output iframe {
        display:grid;
        height: 45vh ;
        width: 35vw ;
    }


    .footer{
        display: grid; 
        grid-area: footer; 
        border: 1px solid green;
    }


@media only screen and (max-width: 1000px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 50vh 50vh 50vh 10vh !important ;
        
        grid-template-areas: "options-area"
                            "actionable-insights-area"
                             "overview-visual-area"
                            "model-rational-area"
                            "footer"
        
        ;
        color: black;
        background-color: var(--dashbackground) !important ;
        width: 98vw;
    }
    }


